<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>

    <div class="container mt-5 mb-5">
        <h1> Введение в мобильную разработку</h1>
        Мобильный разработчик — это программист, который пишет приложения для мобильных устройств. К ним относятся не только смартфоны и планшеты, но и умные часы, фитнес-трекеры, электронные читалки, GPS-навигаторы и все остальные штуки с экраном и клавиатурой, которые можно носить с собой.<br>

        Большинство носимых устройств работает под управлением Android или iOS. Поэтому мобильные разработчики пишут софт для этих операционных систем.
        Мобильная разработка в нынешнем её понимании возникла в нулевых, после выхода Java Micro Edition и WAP — урезанной версии доступа в интернет. Люди хотели развлекаться в сети, проверять электронную почту, общаться в ICQ — делать всё то же самое, что и на обычных компьютерах, но со своих мобильных телефонов.<br>

        Разработчиков было мало, а под каждую модель телефона приходилось писать отдельную версию программы. Не существовало и удобной системы дистрибуции, хотя идею маркетплейса приложений Стив Джобс выдвинул ещё в 1983 году на международной конференции по дизайну в Аспене.
        Первое время рынок мобильной разработки развивался слабо, но Apple и Google постепенно изменили ситуацию:<br>

        2007 год — вышел первый iPhone;<br>
        10 июля 2008 года открылся AppStore;<br>
        9 месяцев спустя — 1 млрд скачиваний из AppStore;<br>
        2008 год — появился первый смартфон под Android (через год после iPhone);<br>
        22 октября 2008 года Google запустил Android Market;<br>
        2010 год — миллиард скачиваний из Android Market.<br>
        В мобильной разработке произошла революция: появился спрос на приложения, система дистрибуции и удобные способы монетизации. Телефоны перестали быть просто звонилками — их новые функции надо было как-то использовать.<br>
        В мобильной разработке есть специализация по платформам и языкам программирования. Но строгого разделения на фронт и бэк, как в вебе, здесь нет — программисту нужно уметь работать и с интерфейсом, и с внутренней логикой приложения.
        Под Android и iOS можно писать приложения практически на любом языке программирования: C/C++, Fortran, ассемблер, Python, JavaScript. Но есть и официально поддерживаемые языки, которые позволяют использовать все возможности мобильной операционной системы и получать моментальный доступ к новым функциям. Для iOS это Objective-C и Swift, а для Android — Java и Kotlin.
        Сейчас Apple советует писать на Swift, а Google агитирует всех за Kotlin. Причина в том, что Swift появился в недрах Apple — он изначально создавался как базовый инструмент мобильной разработки, который закрывает все недостатки «старичка» Objective-C. А Kotlin, наоборот, приглянулся командам Android-разработчиков и сначала получил поддержку «снизу». Отвечая на их просьбы, Google в 2019 году назвал Kotlin языком № 1 для Android.<br>

    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>